@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap');
@import '@fontsource/fira-mono';

:root {
	font-family: 'Nanum Myeongjo', -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica,
		'Apple Color Emoji', Arial, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
	--pure-white: #ffffff;
	--background-color: #f8f8f8;
	--accent-color: #ff3e00;
	--accent-background: #ff3e0015;
	--heading-color: rgba(0, 0, 0, 0.7);
	--text-color: #444444;
	--grey: #e8e8e8;
	--background-without-opacity: rgba(255, 255, 255, 0.7);
	--column-width: 42rem;
	--column-margin-top: 4rem;
}

body {
	min-height: 100vh;
	margin: 0;
	background-color: var(--background-color);
}

body::before {
	content: '';
	width: 80vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 10vw;
	z-index: -1;
	background: radial-gradient(
		50% 50% at 50% 50%,
		var(--pure-white) 0%,
		rgba(255, 255, 255, 0) 100%
	);
	opacity: 0.05;
}

#svelte {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

label,
span,
p {
	color: var(--heading-color);
	line-height: 1.5;
	margin: 0px;
	font-weight: 400;
}

label > * {
	margin-top: 0.5rem;
}

a {
	color: var(--accent-color);
	text-decoration: none;
	transition: text-shadow 100ms ease-out;
}

a:hover {
	text-shadow: 1px 1px 32px var(--accent-color);
}

h1,
h2 {
	font-weight: 400;
	color: var(--heading-color);
	text-align: center;
}

h1 {
	font-size: 1.5rem;
	font-weight: 700;
	word-break: keep-all;
}

h2 {
	font-size: 1rem;
}

h5 {
	font-size: 1.1rem;
	font-weight: 500;
	color: var(--accent-color);
	width: 100%;
}

pre {
	font-size: 16px;
	font-family: 'Nanum Myeongjo';
	border-radius: 10px;
	padding: 0.5em;
	color: var(--text-color);
	white-space: pre-wrap;
	line-height: 1.7;
}

input,
textarea,
button {
	font-size: inherit;
	font-family: inherit;
}

button {
	color: var(--accent-color);
	background-color: white;
	border: 1px solid var(--accent-color);

	cursor: pointer;
	outline: none;
	box-sizing: border-box;
	border-radius: 10px;
	font-weight: 600;
	text-align: center;
	transition: all 0.2s ease-in-out;

	height: 40px;
	padding: 0 11px;
	min-width: 100px;
}

button:hover {
	box-shadow: var(--accent-background) 0px 5px 32px;
}

input,
textarea {
	resize: none;
	font-size: 16px;
	font-weight: 400;
	padding: 14px 16px;
	box-sizing: border-box;
	border: 1px solid var(--grey);
	border-radius: 10px;
	outline: none;
	transition: border 0.3s ease-in-out;
	width: 100%;
}

input:focus,
textarea:focus {
	border-color: var(--accent-color);
}

pre {
	padding: 2rem;
	border: 1px solid var(--grey);
}

@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
}

::-webkit-scrollbar {
	display: none;
}

textarea::-webkit-scrollbar {
	display: initial;
}

.show {
	opacity: 1 !important;
	visibility: visible !important;
	transform: translate(-50%, 0) !important;
}
