@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap');
@import '@fontsource/fira-mono';

:root {
	font-family: "Nanum Myeongjo", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
	--pure-white: #ffffff;
	--background-color: #F8F8F8;
	--accent-color: #ff3e00;
	--heading-color: rgba(0, 0, 0, 0.7);
	--text-color: #444444;
	--grey: #E8E8E8;
	--background-without-opacity: rgba(255, 255, 255, 0.7);
	--column-width: 42rem;
	--column-margin-top: 4rem;
}

body {
	min-height: 100vh;
	margin: 0;
	background-color: var(--background-color);
}

body::before {
	content: '';
	width: 80vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 10vw;
	z-index: -1;
	background: radial-gradient(50% 50% at 50% 50%,
			var(--pure-white) 0%,
			rgba(255, 255, 255, 0) 100%);
	opacity: 0.05;
}

#svelte {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

span, p {
	color: var(--heading-color);
	line-height: 1.5;
	margin: 0;
	font-weight: 400;
}

a {
	color: var(--accent-color);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1,
h2 {
	font-weight: 400;
	color: var(--heading-color);
	text-align: center;
}

h1 {
	font-size: 1.5rem;
	font-weight: 700;
	word-break: keep-all;
}

h2 {
	font-size: 1rem;
}

h5 {
	font-size: 1.1rem;
	font-weight: 500;
	color: var(--accent-color);
	width: 100%;
}

pre {
	font-size: 16px;
	font-family: "Nanum Myeongjo";
	border-radius: 10px;
	padding: 0.5em;
	color: var(--text-color);
	white-space: pre-wrap;
	line-height: 1.7;
}

input,
textarea,
button {
	font-size: inherit;
	font-family: inherit;
}

button {
	color: var(--accent-color);
	background-color: white;
	border: 1px solid var(--accent-color);

	cursor: pointer;
	outline: none;
	box-sizing: border-box;
	border-radius: 10px;
	font-weight: 600;
	text-align: center;
	transition: all 0.2s ease-in-out;

	height: 40px;
	padding: 0 11px;
	min-width: 100px;
}

button:hover {
	box-shadow: rgba(15, 15, 15, 0.1) 0px 5px 16px;
}

textarea {
	resize: none;
	font-size: 16px;
	font-weight: 400;
	padding: 16px;
	box-sizing: border-box;
	border-color: var(--grey);
	outline: none;
	border-radius: 10px;
	transition: border 0.3s ease-in-out;
	width: 100%;
}

textarea:focus {
	border-color: var(--accent-color);
}


@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
}


::-webkit-scrollbar {
	display: none;
}

textarea::-webkit-scrollbar {
	display: initial;
}